/* ESTILO FOOTER */
/* Define largura, altura e exibição para a logo no footer. */
footer .logo-footer {
    width: 150px;
    height: 100px;
    display: flex;
}

/* Adiciona padding e sombra ao footer. */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff15;
}

/* Distribui elementos flexíveis dentro do footer com espaçamento. */
footer .flex {
    justify-content: space-between;
}

/* Adiciona padding à linha de rodapé. */
footer .line-footer{
    padding: 20px 0;
}

/* Aplica uma borda superior ao elemento com a classe .borda. */
.borda {
    border-top: 2px solid #0b436e;
}

/* Estiliza ícones dentro do footer, ajustando cor e tamanho. */
footer .line-footer p i {
    color: #0b436e;
    font-size: 22px;
}

/* Estiliza links dentro do footer, ajustando cor e padding. */
footer .line-footer p a{
    color: white;
    padding: 10px;
}
