/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #0b436e;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.flex {
    display: flex;
}


h2.titulo {
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #0b436e;
}

button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #0b436e;
    transform: scale(1.05);
}

/* ESTILO CABEÇALHO */

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding: 0 40px;
}

.logo img {
    width: 300px;  /* Define a largura desejada */
    height: 150px;  /* Define a altura desejada */
}

/* Estilo do topo do site */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: white;
    font-size: 30px;
    line-height: 40px;
    text-align: justify;
    text-transform: uppercase;
}

.topo-do-site .txt-topo-site h1 span {
    color: #0b436e;;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0;
    text-align: justify
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    width: 450px;  /* Define a largura desejada */
    height: 250px;  /* Define a altura desejada */
}

@keyframes flutuar {
    0% {
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/*ESTILO DAS ESPECIALIDADES */

section.especialidades { 
    padding: 40px 4%;
}

section.especialidades .flex {
    gap: 60px;
}
.especialidades .especialidades-box {
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.404);
}

.especialidades .especialidades-box i {
    color: #0b436e;
    font-size: 50px;
}

.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */

section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #0b436e;
    display: block;
}

.img-sobre {
    width: 600px;  /* Define a largura desejada */
    height: 300px;  /* Define a altura desejada */
    display: flex;
    border-radius: 20px;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #0b436e;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO PORTFOLIO */

section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff15;
}

section.portfolio .flex {
    justify-content: space-around;
    margin-top: 60px;

}

.img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: .8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

/* ESTILO DO FORMULARIO DE CONTATO */

section.formulario  {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: #3f3d3d;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form input::placeholder {
    /* DA PRA EDITAR OS TEXTOS */
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;

}

form .btn-enviar input {
    width: 120px;
    background-color: #0b436e;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO FOOTER */

footer .logo-footer {
    width: 150px;  /* Define a largura desejada */
    height: 100px;  /* Define a altura desejada */
    display: flex;
}